*.o
*.coff
threads/nachos
userprog/nachos
test/matmult
test/halt
test/shell
test/sort
test/fileio
test/hellocons
test/fromcons
test/hellofile
test/newfork
test/parent_child
test/kid
fileio.out
hello.out
p2check.tgz
